@page
@model RVPark_Team2.Pages.Admin.Employees.IndexModel

@{
    ViewData["Title"] = "Employees";
}

@section Styles {
    <link rel="stylesheet" href="~/css/pages/admin-employees.css" />
}

<div class="pricing-container">
    <h1>Employees</h1>

    <p>
        <a class="add-site-type-btn" asp-page="Create">Create New</a>
    </p>

    <div class="pricing-table">
        <div class="table-header">
            <div>@Html.DisplayNameFor(model => model.Employee[0].FirstName)</div>
            <div>@Html.DisplayNameFor(model => model.Employee[0].LastName)</div>
            <div>@Html.DisplayNameFor(model => model.Employee[0].Email)</div>
            <div>@Html.DisplayNameFor(model => model.Employee[0].AccessLevel)</div>
            <div>@Html.DisplayNameFor(model => model.Employee[0].IsLocked)</div>
            <div>Actions</div>
        </div>

        @foreach (var item in Model.Employee)
        {
            <div class="table-row">
                <div>@Html.DisplayFor(modelItem => item.FirstName)</div>
                <div>@Html.DisplayFor(modelItem => item.LastName)</div>
                <div>@Html.DisplayFor(modelItem => item.Email)</div>
                <div>@Html.DisplayFor(modelItem => item.AccessLevel)</div>
                <div>@Html.DisplayFor(modelItem => item.IsLocked)</div>
                <div class="actions-column">
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                    <form method="post" asp-page="./Delete" asp-route-id="@item.Id">
                        <button type="submit" class="btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        }
    </div>
</div>